*.log
*_history
.lesshst
*.lock

.ssh
logs
ssh_config

.aws/config
.battery/battery.pid
.battery/visudo.tmp
.dbclient/storage
.kube/config
.minikube/machines/minikube/config.json
.colima/_templates/default.yaml
.vscode/argv.json

# わからん
.cargo/env
.minikube/profiles/minikube/events.json
.minikube/profiles/minikube/config.json
.rustup/settings.toml
.th-client/tc-user.json
.viminfo
