version: "3"

includes:
  brew:
    taskfile: "@REPO/taskfiles/brew.yml"
    dir: "@REPO"
  git:
    taskfile: "@REPO/taskfiles/git.yml"
    dir: "@REPO"
  karabiner:
    taskfile: "@REPO/taskfiles/karabiner.yml"
    dir: "@REPO"
  vscode:
    taskfile: "@REPO/taskfiles/vscode.yml"
    dir: "@REPO"
